@charset "UTF-8";
@import "./reset.scss";
@import "./colors_fonts.scss";

body {
  max-width: 1280px;
  margin: auto;
  background: #fff;
  font-family: 'base';
  color: #131718;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

h1, h2 {
  display: inline-block;
  font-family: 'heading';
  font-size: 5em;
  text-align: center;
  color: #364549;
  border: 5px solid #364549;
  padding: 50px;
}

.scroll a {
  display: block;
  font-size: 1.6em;
  color: #364549;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -20px;
  transition: 0.25s;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    border: 0;
    border-top: solid 2px #364549;
    border-right: solid 2px #364549;
    transform: rotate(135deg);
    transition: 0.25s;
  }
  &:hover {
    color: #5AB2CA;
    transform: translateY(2px);
    &::after {
      border-top: solid 2px #5AB2CA;
      border-right: solid 2px #5AB2CA;
      transform: translateY(2px);
      transform: rotate(495deg);
    }
  }
}

.btn {
  text-align: center;
  margin-top: 50px;
  a {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size: 2.8em;
    text-align: center;
    line-height: 50px;
    color: #131718;
    border: 1px solid #131718;
    border-radius: 3em;
    padding-left: 35px;
    box-shadow: 1px 1px 5px #999;
    position: relative;
    transition: 0.5s;
    z-index: 1;
    &:hover {
      transform: scale(0.95);
      opacity: 0.9;
      color: #5AB2CA;
      border-color: #5AB2CA;
      box-shadow: none;
    }
    &:first-child {
      background: #fff url("../images/logo/site_btn_logo@2x.png") no-repeat 25px 10px;
      background-size: 30px 30px;
      margin-right: 50px;
    }
    &:last-child {
      background: #fff url("../images/logo/github_btn_logo@2x.png") no-repeat 25px 10px;
      background-size: 30px 30px;
      padding-left: 30px;
      margin-left: 50px;
    }
  }
}

header {
  nav {
    width: 150px;
    height: 100vh;
    background: #131718;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    ul {
      margin-top: 20vh;
    }
    li {
      a {
        display: inline-block;
        margin-top: 50px;
        position: relative;
        &::before {
          position: absolute;
          top: 2px;
          left: 2px;
          z-index: -1;
          content: '';
          width: 55px;
          height: 55px;
          box-shadow: 0 0 0 10px rgba(90, 178, 202, 0);
          border-radius: 100%;
          opacity: 0;
        }
        &:hover::before {
          -webkit-animation: shadow 2.5s infinite;
          animation: shadow 2.5s infinite;
        }
      }
      img {
        &::after {
          content: '';
          display: block;
          width: 100px;
          height: 100px;
          background: #000;
        }
        position: relative;
        transition: 0.5s;
      }
      a:hover {
        img {
          transform: scale(0.95);
        }
        span {
          color: #5AB2CA;
          &::after {
            width: 50px;
          }
        }
      }
      span {
        display: block;
        color: #fff;
        margin-top: 15px;
        font-size: 1.8em;
        transition: 0.5s;
        &::after {
          content: "";
          display: block;
          margin: auto;
          width: 0;
          height: 1px;
          background: #5AB2CA;
          transition: 0.5s;
        }
      }
    }
  }
  position: relative;
  > .scroll a {
    color: #fff;
    left: 48%;
    &::after {
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
    }
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  div {
    width: 100%;
    height: 100vh;
    margin-left: 150px;
    background: url("../images/header.png") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    h1 {
      line-height: 1.2;
      margin-top: 200px;
      margin-left: 220px;
      transition: 0.5s;
      border-color: #fff;
      position: relative;
      z-index: 1;
      a {
        color: #fff;
      }
      span {
        display: block;
      }
    }
    > span {
      display: inline-block;
      font-size: 3em;
      font-family: 'heading';
      line-height: 1.5;
      letter-spacing: .1em;
      margin-left: 20px;
      transform: translateY(60px);
    }
    .on {
      position: fixed;
      top: 95px;
      left: 25px;
      font-size: 2em;
      line-height: 1;
      color: #fff;
      border: none;
      margin-top: 0;
      margin-left: 0;
      padding: 0;
      span {
        display: inline;
      }
    }
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 15px rgba(90, 178, 202, 0.3), 0 0 0 30px rgba(90, 178, 202, 0.2);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


main {
  margin-left: 150px;
}

#mockup, #presen, #rdd, #study, #work, .footer {
  height: 100vh;
}

#group, #mobile_ui, #banner, #text {
  margin-top: 100px;
}

section {
  width: 100%;
  position: relative;
  nav {
    font-size: 2em;
    text-align: center;
    ul li {
      display: inline-block;
    }
    .now {
      opacity: 1;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: auto;
        background: #131718;
      }
    }
    a {
      color: #364549;
      opacity: 0.3;
      transition: 0.25s;
      &::after {
        content: "";
        display: block;
        margin: auto;
        width: 0;
        height: 1px;
        background: #5AB2CA;
        transition: 0.5s;
      }
      &:hover {
        color: #5AB2CA;
        opacity: 1;
        &::after {
          width: 100%;
        }
      }
    }
  }
}

h3 {
  font-size: 3em;
  color: #364549;
  padding-top: 25px;
  margin-left: 25px;
}

#prof, #skill {
  padding: 50px;
}

#prof h3, #skill h3 {
  font-size: 24px;
  font-family: 'base';
  padding-top: 0;
  margin-left: 0;
  color: #5AB2CA;
  border-bottom: 1px solid #5AB2CA;
}

#prof nav li:last-child, #skill nav li:last-child {
  margin-left: 100px;
}

#prof {
  .prof_wrap, .skill_wrap {
    border: 1px solid #5AB2CA;
    color: #364549;
    padding: 20px;
  }
}

#skill {
  .prof_wrap, .skill_wrap {
    border: 1px solid #5AB2CA;
    color: #364549;
    padding: 20px;
  }
}

#prof {
  .prof_wrap .flex, .skill_wrap .flex {
    justify-content: space-between;
  }
}

#skill {
  .prof_wrap .flex, .skill_wrap .flex {
    justify-content: space-between;
  }
}

#prof {
  .prof_wrap {
    dl, p, ul {
      line-height: 1.8;
      letter-spacing: .5px;
      margin-top: 5px;
    }
  }
  .skill_wrap {
    dl, p, ul {
      line-height: 1.8;
      letter-spacing: .5px;
      margin-top: 5px;
    }
  }
}

#skill {
  .prof_wrap {
    dl, p, ul {
      line-height: 1.8;
      letter-spacing: .5px;
      margin-top: 5px;
    }
  }
  .skill_wrap {
    dl, p, ul {
      line-height: 1.8;
      letter-spacing: .5px;
      margin-top: 5px;
    }
  }
}

#prof .prof_wrap img, #skill .prof_wrap img {
  float: left;
  padding: 0 15px 10px 0;
}

#prof .prof_wrap h3:first-of-type, #skill .prof_wrap h3:first-of-type {
  margin-left: 164px;
}

#prof .prof_wrap h3:nth-of-type(2), #skill .prof_wrap h3:nth-of-type(2) {
  padding-top: 1.5em;
}

#prof .prof_wrap h3:last-of-type, #skill .prof_wrap h3:last-of-type {
  padding-top: .8em;
}

#prof .prof_wrap {
  dl, p, ul {
    font-size: 1.25em;
  }
}

#skill .prof_wrap {
  dl, p, ul {
    font-size: 1.25em;
  }
}

#prof .prof_wrap {
  li, p {
    margin-top: .8em;
    padding-top: .8em;
  }
}

#skill .prof_wrap {
  li, p {
    margin-top: .8em;
    padding-top: .8em;
  }
}

#prof .prof_wrap {
  li, p {
    position: relative;
    padding-left: 35px;
  }
}

#skill .prof_wrap {
  li, p {
    position: relative;
    padding-left: 35px;
  }
}

#prof .prof_wrap {
  li::before, p::before {
    content: url(../images/calendar@2x.png);
    display: inline-block;
    transform: scale(0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
}

#skill .prof_wrap {
  li::before, p::before {
    content: url(../images/calendar@2x.png);
    display: inline-block;
    transform: scale(0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
}

#prof .prof_wrap dt, #skill .prof_wrap dt {
  float: left;
  font-weight: bold;
}

#prof .prof_wrap dt:last-of-type, #skill .prof_wrap dt:last-of-type {
  float: none;
}

#prof .prof_wrap dd:nth-of-type(2n+9), #skill .prof_wrap dd:nth-of-type(2n+9) {
  padding-top: 1.5em;
}

#prof .prof_wrap {
  dt:nth-of-type(-n+6), dd:nth-of-type(-n+6) {
    padding-top: .6em;
  }
}

#skill .prof_wrap {
  dt:nth-of-type(-n+6), dd:nth-of-type(-n+6) {
    padding-top: .6em;
  }
}

#prof .prof_wrap dt:last-of-type, #skill .prof_wrap dt:last-of-type {
  padding-top: .6em;
  padding-bottom: 1em;
}

#prof .prof_wrap span, #skill .prof_wrap span {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #364549;
}

#prof .skill_wrap h3:last-of-type, #skill .skill_wrap h3:last-of-type {
  padding-top: 30px;
}

#prof .skill_wrap {
  .skill1, .skill2, .self1, .self2 {
    width: 49%;
    font-size: 1.25em;
  }
}

#skill .skill_wrap {
  .skill1, .skill2, .self1, .self2 {
    width: 49%;
    font-size: 1.25em;
  }
}

#prof .skill_wrap {
  .skill1 li, .skill2 li, .self1 li, .self2 li {
    padding: 15px 0;
    padding-left: 55px;
    border-top: 1px dashed #364549;
  }
}

#skill .skill_wrap {
  .skill1 li, .skill2 li, .self1 li, .self2 li {
    padding: 15px 0;
    padding-left: 55px;
    border-top: 1px dashed #364549;
  }
}

#prof .skill_wrap {
  .skill1 li:first-child, .skill2 li:first-child, .self1 li:first-child, .self2 li:first-child {
    border-top: none;
  }
}

#skill .skill_wrap {
  .skill1 li:first-child, .skill2 li:first-child, .self1 li:first-child, .self2 li:first-child {
    border-top: none;
  }
}

#prof .skill_wrap {
  .skill1 dt, .skill2 dt, .self1 dt, .self2 dt {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 35px;
    padding-bottom: 20px;
    margin-top: 15px;
    background: url(../images/skills/man-waving-arm@2x.png) no-repeat left;
    background-size: 32px 52px;
  }
}

#skill .skill_wrap {
  .skill1 dt, .skill2 dt, .self1 dt, .self2 dt {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 35px;
    padding-bottom: 20px;
    margin-top: 15px;
    background: url(../images/skills/man-waving-arm@2x.png) no-repeat left;
    background-size: 32px 52px;
  }
}

#prof .skill_wrap {
  .skill1 dd, .skill2 dd, .self1 dd, .self2 dd {
    padding-left: 35px;
    margin-top: -20px;
  }
}

#skill .skill_wrap {
  .skill1 dd, .skill2 dd, .self1 dd, .self2 dd {
    padding-left: 35px;
    margin-top: -20px;
  }
}

#prof .skill_wrap .skill1 li:first-child, #skill .skill_wrap .skill1 li:first-child {
  background: url(../images/skills/html5@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill1 li:nth-child(2), #skill .skill_wrap .skill1 li:nth-child(2) {
  background: url(../images/skills/css3@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill1 li:nth-child(3), #skill .skill_wrap .skill1 li:nth-child(3) {
  background: url(../images/skills/sass@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill1 li:nth-child(4), #skill .skill_wrap .skill1 li:nth-child(4) {
  background: url(../images/skills/jQuery@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill1 li:last-child, #skill .skill_wrap .skill1 li:last-child {
  background: url(../images/skills/php@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill2 li:first-child, #skill .skill_wrap .skill2 li:first-child {
  background: url(../images/skills/photoshop@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill2 li:nth-child(2), #skill .skill_wrap .skill2 li:nth-child(2) {
  background: url(../images/skills/illustrator@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill2 li:nth-child(3), #skill .skill_wrap .skill2 li:nth-child(3) {
  background: url(../images/skills/xd@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#prof .skill_wrap .skill2 li:last-child, #skill .skill_wrap .skill2 li:last-child {
  background: url(../images/skills/sketch@2x.png) no-repeat left;
  background-size: 50px 50px;
}

#work {
  text-align: center;
  h2 {
    width: 242px;
    line-height: 1.5;
    padding: 50px;
    margin-top: 200px;
    span {
      display: block;
      font-size: 1.5rem;
    }
  }
}

#discuss {
  padding: 25px;
  margin-bottom: 25px;
  h3 {
    margin-left: 0;
  }
  .flex {
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .details, .explain {
    width: 49%;
    font-size: 1.25em;
    line-height: 1.9;
    letter-spacing: 0.5px;
    padding-top: 40px;
  }
  .details dt, .explain dt {
    font-weight: bold;
  }
  .details {
    p {
      &:first-child {
        font-size: 24px;
        line-height: 1;
        border-bottom: 1px solid #131718;
      }
      &:nth-child(2) {
        padding-top: 1em;
      }
    }
    dl {
      padding-top: 2.5em;
      line-height: 2;
    }
    dt {
      float: left;
    }
    dd:nth-of-type(3) {
      padding-left: 65px;
    }
    .flex {
      padding-top: 2em;
    }
  }
  .explain {
    dt:last-of-type {
      padding-top: 1.5em;
    }
    dd {
      padding-left: 15px;
      &:nth-of-type(2), &:nth-of-type(3) {
        padding-top: 1.5em;
      }
    }
  }
  nav {
    padding-top: 20px;
  }
}

#rdd, #presen {
  margin-bottom: 20px;
}

#rdd h3 span, #presen h3 span {
  font-size: .45em;
  letter-spacing: .5px;
}

#work_ui {
  padding: 25px;
  padding-top: 0;
  h3 {
    margin-left: 0;
  }
  .flex {
    justify-content: space-between;
  }
  .mockup {
    width: 24%;
    margin: 30px 0 20px;
    font-size: 1.25em;
    line-height: 1.8;
    p {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #131718;
      margin-bottom: 10px;
      margin-top: -10px;
    }
    li {
      list-style-type: disc;
      margin-left: 1.5em;
    }
  }
  img {
    display: block;
    margin: auto;
  }
}

#after {
  padding: 25px;
  margin-top: 25px;
  h3 {
    margin-left: 0;
    padding-top: 0;
  }
  h4 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 50px 0 20px;
  }
  .question_inner {
    display: flex;
    padding-bottom: 40px;
    dl {
      padding-left: 10px;
      line-height: 1.8;
    }
    dt {
      float: left;
      font-weight: bold;
      &:nth-of-type(even) {
        padding-top: 1em;
      }
    }
    dd:nth-of-type(even) {
      padding-top: 1em;
    }
    dt:nth-of-type(3) {
      padding-top: 2.5em;
    }
    dd {
      &:nth-of-type(4) {
        padding-top: 2.5em;
      }
      padding-left: 5em;
    }
  }
  .question {
    width: 49%;
    font-size: 1.25em;
    line-height: 2;
  }
  .analytics {
    width: 49%;
    font-size: 1.25em;
    line-height: 2;
    img {
      padding-bottom: 40px;
    }
  }
  nav {
    padding-top: 40px;
  }
}

.work {
  .swiper-wrapper {
    margin-top: 25px;
  }
  nav li {
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
    }
  }
}

#form {
  h3 {
    padding-top: 0;
  }
  > p {
    text-align: center;
  }
}

.form {
  padding: 25px;
  h3 {
    margin-left: 0;
    padding-bottom: 30px;
  }
  nav {
    padding: 50px 0;
  }
  .video_wrapper {
    width: 60%;
    padding-top: 20px;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .flex {
    font-size: 1.25em;
    line-height: 1.8;
    margin-top: 70px;
  }
  .video, .details {
    width: 49%;
  }
  .video dt, .details dt {
    font-weight: bold;
    float: left;
  }
  .video figcaption, .details figcaption {
    text-align: center;
    padding-top: 5px;
    margin-left: -130px;
  }
  .video {
    dl {
      padding: 20px 0;
      line-height: 2;
    }
    .flex {
      justify-content: space-between;
      margin-top: 0;
    }
  }
  .details {
    p {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.2;
      border-bottom: 1px solid #364549;
    }
    dl {
      padding-top: 10px;
      &:first-of-type {
        padding-bottom: 15px;
      }
      &:last-of-type {
        border-top: 1px dotted #131718;
      }
    }
    dt, dd {
      font-size: 1.1em;
      margin-top: 10px;
    }
    dl:last-of-type dd:last-of-type {
      margin-top: 0;
    }
    dd {
      padding-left: 63px;
    }
    figure {
      padding-top: 30px;
    }
  }
}

#clinic {
  margin-top: 35px;
  p:last-of-type {
    width: 50%;
    float: right;
    font-size: 1.25em;
    text-align: left;
    line-height: 1.8;
    padding-right: 25px;
    padding-top: 25px;
    span {
      font-weight: bold;
      font-size: 1.2em;
      margin-left: -1em;
      &:nth-of-type(2) {
        display: inline-block;
        padding-top: 2em;
      }
    }
  }
  .details {
    width: 49%;
    float: left;
    font-size: 1.25em;
    line-height: 2;
    padding-left: 25px;
    padding-top: 40px;
    dt {
      font-weight: bold;
      float: left;
      padding-top: 10px;
    }
    dd {
      padding-top: 10px;
    }
    .flex {
      justify-content: space-between;
      padding-top: 3em;
      padding-right: 30px;
    }
  }
  nav {
    clear: both;
    padding: 70px 0 20px;
  }
}

#trace {
  padding: 0 25px;
  margin-top: 70px;
  > .flex {
    padding-top: 4em;
    font-size: 1.3em;
    line-height: 1.8;
  }
  dt {
    font-weight: bold;
  }
  .details {
    width: 40%;
    dl {
      line-height: 3;
    }
    dt {
      float: left;
    }
    .flex {
      padding-top: 2em;
    }
  }
  .explain {
    width: 50%;
    dt{
      font-size: 1.2em;
    }
    dt:nth-of-type(2) {
      padding-top: 2em;
    }
    dd{
      padding-left: 1em;
    }
  }
  nav {
    padding-top: 2.5em;
  }
}

#group {
  padding: 0 25px;
  .flex {
    font-size: 1.3em;
    line-height: 1.8;
    letter-spacing: .5px;
    padding-top: 2em;
  }
  dt {
    font-weight: bold;
  }
  .details {
    p {
      text-align: left;
    }
    dl {
      padding-top: 5em;
      line-height: 2.5;
    }
    dt {
      float: left;
    }
  }
  .explain {
    width: 50%;
    padding-top: 1.6em;
    dt{
      font-size: 1.2em;
      margin-left: -1em;
    }
    dt:last-of-type {
      padding-top: 2em;
    }
  }
  span {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 1em;
    &:last-of-type {
      padding-bottom: 1em;
    }
    &::before {
      content: "・";
      display: inline-block;
      text-decoration: none;
    }
  }
  nav {
    padding-top: 2em;
  }
}

#clinic p, #group p, #mockup p, #trace p, .mobile_ui p {
  text-align: center;
  margin-top: 25px;
}

#study {
  text-align: center;
  h2 {
    margin-top: 200px;
    line-height: 2;
  }
}

.banner li, .study li, .text li {
  margin-left: 50px;
}

.banner li:first-child, .study li:first-child, .text li:first-child {
  margin-left: 0;
}

.banner nav, .nav_wrap nav, .text nav {
  width: 100%;
  margin: 20px auto auto;
}

.mobile_ui .ui_img_wrap {
  padding: 50px 0;
  div:first-child {
    img {
      padding-bottom: 30px;
      &:nth-of-type(even) {
        margin-left: 100px;
      }
    }
    span {
      font-size: 1.3em;
      font-weight: bold;
      position: absolute;
    }
  }
}

.ui1-2 {
  .video_wrapper {
    width: 30%;
    padding-top: 30px;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .details {
    width: 45%;
    padding-top: 2em;
    font-size: 1.3em;
    line-height: 1.8;
    letter-spacing: .5px;
    dt {
      font-weight: bold;
    }
    dl {
      &:first-of-type dt{
        font-size: 1.2em;
        padding-bottom: .25em;
        margin-left: -1em;
      }
      &:first-of-type dt:nth-of-type(2) {
        padding-top: 3em;
      }
      &:nth-of-type(2) {
        padding-top: 6em;
        line-height: 2.5;
        dt {
          float: left;
        }
      }
    }
    .flex {
      padding-top: 2em;
    }
  }
  nav {
    padding-top: 30px;
  }
}

.mobile_ui2 {
  margin-top: 50px;
  .ui_img_wrap2 {
    margin-top: 5em;
  }
  div:first-child {
    img {
      padding-bottom: 30px;
      &:nth-of-type(even), &:last-of-type {
        margin-left: 70px;
      }
    }
    span {
      font-size: 1.3em;
      font-weight: bold;
      position: absolute;
      &:last-child {
        position: relative;
        bottom: 305px;
      }
    }
  }
  .ja {
    font-size: 1.3em;
    line-height: 1.8;
    letter-spacing: .5px;
    margin-top: 3em;
  }
  dt {
    display: inline-block;
    font-weight: bold;
  }
  dd {
    display: inline-block;
  }
  dt:nth-of-type(2), dd:nth-of-type(2) {
    padding-top: 1em;
  }
  .details .flex {
    padding-top: 2em;
  }
}

#banner {
  > p {
    font-size: 1.25em;
    line-height: 2;
    letter-spacing: .5px;
    padding: 25px 0 0 2em;
    &:nth-of-type(2) {
      font-size: 3em;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      margin: 50px 0;
      padding-top: 100px;
      padding-left: 0;
      background: url(../images/skills/photoshop@2x.png) no-repeat center;
      background-size: 55px 55px;
    }
    &:nth-of-type(3) {
      font-size: 3em;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      margin: 50px 0;
      padding-top: 100px;
      padding-left: 0;
      background: url(../images/skills/photoshop@2x.png) no-repeat center;
      background-size: 55px 55px;
      background: url(../images/skills/illustrator@2x.png) no-repeat center;
      background-size: 55px 55px;
      margin-top: 0;
    }
  }
  .flex {
    div {
      margin: 50px 0;
      position: relative;
      dl {
        position: absolute;
        top: 140px;
        left: 150px;
        font-size: 1.3em;
        line-height: 1.5;
      }
      dt {
        float: left;
        font-weight: bold;
      }
      dd {
        padding-left: 5em;
      }
      dt:nth-of-type(2), dd:last-child {
        padding-top: 1em;
      }
    }
    .short {
      margin-bottom: 150px;
    }
  }
  nav {
    padding-top: 3em;
  }
}

#text{
  padding: 0 25px;
  > p{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 2em 0;
  }
  > p:last-of-type{
    padding-top: 3em;
  }
  .flex div{
    font-size: 1.25em;
    line-height: 1.8;
    letter-spacing: .5px;
    text-align: center;
    p{
      text-align: left;
      padding-top: 1em;
    }
  }
  .flex:first-of-type{
    div{
      width: 22%;
    }
  }
  .flex:last-of-type{
    div{
      width: 18%;
    }
  }
  nav{
    padding-top: 2em;
  }
}

.footer {
  text-align: center;
  color: #364549;
  h4 {
    font-size: 4.8em;
    padding-top: 240px;
  }
  span {
    display: block;
    margin-top: 30px;
  }
  .top_btn {
    font-size: 1.5em;
    a {
      display: inline-block;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 62px;
      color: #fff;
      background: #131718;
      border-radius: 100%;
      position: relative;
      position: absolute;
      bottom: 20px;
      transition: 0.5s;
      animation: btn_shadow 2s infinite;
      &:hover {
        transform: scale(1.1);
        background: #fff;
        color: #5AB2CA;
        font-weight: bold;
        animation: btn_shadow_hover 2s infinite;
      }
    }
  }
}

@keyframes btn_shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(19, 23, 24, 0.2), 0 0 0 0 rgba(19, 23, 24, 0.2), 0 0 0 0 rgba(19, 23, 24, 0.2);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(19, 23, 24, 0), 0 0 0 35px rgba(19, 23, 24, 0), 0 0 0 60px rgba(19, 23, 24, 0);
  }
}


@keyframes btn_shadow_hover {
  0% {
    box-shadow: 0 0 0 0 rgba(90, 178, 202, 0.2), 0 0 0 0 rgba(90, 178, 202, 0.2), 0 0 0 0 rgba(90, 178, 202, 0.2);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(90, 178, 202, 0), 0 0 0 35px rgba(90, 178, 202, 0), 0 0 0 60px rgba(90, 178, 202, 0);
  }
}


.swiper-slide {
  text-align: center;
  img {
    display: inline-block;
    padding-bottom: 30px;
  }
}

.swiper-pagination {
  font-size: 1.5em;
  color: #364549;
}
